/* Give buttons a red (instead of the default blue) color */
.btn-primary.active {
    background-color: #DC002D;
    border-color: #DC002D;
    }

.btn-primary {
    background-color: #A90023;
    border-color: #A90023;
    }

.btn-primary:hover {
    background-color: #DC002D;
    border-color: #DC002D;
    }

#maincontainer { 
    margin-bottom: 50px; /* size of the bottom navbar */
}

#compare-button { 
    width: 250px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
