/* Give buttons a red (instead of the default blue) color */
.btn-primary.active {
    background-color: #DC002D;
    border-color: #DC002D;
    }

.btn-primary {
    background-color: #A90023;
    border-color: #A90023;
    }

.btn-primary:hover {
    background-color: #DC002D;
    border-color: #DC002D;
    }

#maincontainer { 
    margin-bottom: 50px; /* size of the bottom navbar */
}

#compare-button { 
    width: 250px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div[id^="file-upload-"] { 
    max-height: 30em !important;
}
.file-upload-card p.card-text { 
    max-height: 28em !important;
    white-space: pre-wrap;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
    }

.file-upload-card .card-header a { 
    line-height: 30px; 
}
.file-upload-card .card-header label { 
    float: right;
    margin: 0;
    height: 30px;
}

/* trickery to make a span act like a file input, hiding the actual file input */

.file-upload-button { 
    position:relative;
}

.file-upload-button input[type="file"]{
    -webkit-appearance:none; 
    position:absolute;
    top:0; left:0;
    opacity:0; 
    width: 100%;
    height: 100%;
}

